.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 20px 0;
}

.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

textarea{
    width: 100%;
    border-radius: 4px;
    padding:10px 10px;
    outline:none;
    border: none;
    margin-bottom: 20px;
    font-size: 18px;
    resize: none;
}

.btn-msg{
    height: 40px;
}